{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "https://support.amazonaws.com/"
        },
        {
            "url": "http://support.amazonaws.com/"
        }
    ],
    "x-hasEquivalentPaths": true,
    "info": {
        "contact": {
            "email": "mike.ralphson@gmail.com",
            "name": "Mike Ralphson",
            "url": "https://github.com/mermade/aws2openapi",
            "x-twitter": "PermittedSoc"
        },
        "description": "<fullname>AWS Support</fullname> <p>The AWS Support API reference is intended for programmers who need detailed information about the AWS Support operations and data types. This service enables you to manage your AWS Support cases programmatically. It uses HTTP methods that return results in JSON format.</p> <p>The AWS Support service also exposes a set of <a href=\"http://aws.amazon.com/premiumsupport/trustedadvisor/\">Trusted Advisor</a> features. You can retrieve a list of checks and their descriptions, get check results, specify checks to refresh, and get the refresh status of checks. </p> <p>The following list describes the AWS Support case management operations:</p> <ul> <li> <p> <b>Service names, issue categories, and available severity levels. </b>The <a>DescribeServices</a> and <a>DescribeSeverityLevels</a> operations return AWS service names, service codes, service categories, and problem severity levels. You use these values when you call the <a>CreateCase</a> operation. </p> </li> <li> <p> <b>Case creation, case details, and case resolution.</b> The <a>CreateCase</a>, <a>DescribeCases</a>, <a>DescribeAttachment</a>, and <a>ResolveCase</a> operations create AWS Support cases, retrieve information about cases, and resolve cases.</p> </li> <li> <p> <b>Case communication.</b> The <a>DescribeCommunications</a>, <a>AddCommunicationToCase</a>, and <a>AddAttachmentsToSet</a> operations retrieve and add communications and attachments to AWS Support cases. </p> </li> </ul> <p>The following list describes the operations available from the AWS Support service for Trusted Advisor:</p> <ul> <li> <p> <a>DescribeTrustedAdvisorChecks</a> returns the list of checks that run against your AWS resources.</p> </li> <li> <p>Using the <code>checkId</code> for a specific check returned by <a>DescribeTrustedAdvisorChecks</a>, you can call <a>DescribeTrustedAdvisorCheckResult</a> to obtain the results for the check you specified.</p> </li> <li> <p> <a>DescribeTrustedAdvisorCheckSummaries</a> returns summarized results for one or more Trusted Advisor checks.</p> </li> <li> <p> <a>RefreshTrustedAdvisorCheck</a> requests that Trusted Advisor rerun a specified check. </p> </li> <li> <p> <a>DescribeTrustedAdvisorCheckRefreshStatuses</a> reports the refresh status of one or more checks. </p> </li> </ul> <p>For authentication of requests, AWS Support uses <a href=\"http://docs.aws.amazon.com/general/latest/gr/signature-version-4.html\">Signature Version 4 Signing Process</a>.</p> <p>See <a href=\"http://docs.aws.amazon.com/awssupport/latest/user/Welcome.html\">About the AWS Support API</a> in the <i>AWS Support User Guide</i> for information about how to use this service to create and manage your support cases, and how to call Trusted Advisor for results of checks on your resources. </p>",
        "license": {
            "name": "Apache 2.0 License",
            "url": "http://www.apache.org/licenses/"
        },
        "termsOfService": "https://aws.amazon.com/service-terms/",
        "title": "AWS Support",
        "version": "2013-04-15",
        "x-apiClientRegistration": {
            "url": "https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct"
        },
        "x-apisguru-categories": [
            "cloud"
        ],
        "x-logo": {
            "backgroundColor": "#FFFFFF",
            "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.jpeg"
        },
        "x-origin": [
            {
                "contentType": "application/json",
                "converter": {
                    "url": "https://github.com/mermade/aws2openapi",
                    "version": "1.0.0"
                },
                "url": "https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/support-2013-04-15.normal.json",
                "x-apisguru-direct": true
            }
        ],
        "x-preferred": true,
        "x-providerName": "amazonaws.com",
        "x-release": "v4",
        "x-serviceName": "support"
    },
    "externalDocs": {
        "description": "Amazon Web Services documentation",
        "url": "https://docs.aws.amazon.com/support/"
    },
    "security": [
        {
            "hmac": []
        }
    ],
    "paths": {
        "/": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "<p>Adds one or more attachments to an attachment set. If an <code>attachmentSetId</code> is not specified, a new attachment set is created, and the ID of the set is returned in the response. If an <code>attachmentSetId</code> is specified, the attachments are added to the specified set, if it exists.</p> <p>An attachment set is a temporary container for attachments that are to be added to a case or case communication. The set is available for one hour after it is created; the <code>expiryTime</code> returned in the response indicates when the set expires. The maximum number of attachments in a set is 3, and the maximum size of any attachment in the set is 5 MB.</p>",
                "operationId": "AddAttachmentsToSet",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "The ID and expiry time of the attachment set returned by the <a>AddAttachmentsToSet</a> operation.",
                                    "properties": {
                                        "attachmentSetId": {
                                            "description": "The ID of the attachment set. If an <code>attachmentSetId</code> was not specified, a new attachment set is created, and the ID of the set is returned in the response. If an <code>attachmentSetId</code> was specified, the attachments are added to the specified set, if it exists.",
                                            "type": "string"
                                        },
                                        "expiryTime": {
                                            "description": "The time and date when the attachment set expires.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "InternalServerError",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "An internal server error occurred.",
                                    "properties": {
                                        "message": {
                                            "description": "An internal server error occurred.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "481": {
                        "description": "AttachmentSetIdNotFound",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "An attachment set with the specified ID could not be found.",
                                    "properties": {
                                        "message": {
                                            "description": "An attachment set with the specified ID could not be found.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "482": {
                        "description": "AttachmentSetExpired",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "The expiration time of the attachment set has passed. The set expires 1 hour after it is created.",
                                    "properties": {
                                        "message": {
                                            "description": "The expiration time of the attachment set has passed. The set expires 1 hour after it is created.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "483": {
                        "description": "AttachmentSetSizeLimitExceeded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "A limit for the size of an attachment set has been exceeded. The limits are 3 attachments and 5 MB per attachment.",
                                    "properties": {
                                        "message": {
                                            "description": "A limit for the size of an attachment set has been exceeded. The limits are 3 attachments and 5 MB per attachment.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "484": {
                        "description": "AttachmentLimitExceeded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "The limit for the number of attachment sets created in a short period of time has been exceeded.",
                                    "properties": {
                                        "message": {
                                            "description": "The limit for the number of attachment sets created in a short period of time has been exceeded.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "<p/>",
                                "properties": {
                                    "attachmentSetId": {
                                        "description": "The ID of the attachment set. If an <code>attachmentSetId</code> is not specified, a new attachment set is created, and the ID of the set is returned in the response. If an <code>attachmentSetId</code> is specified, the attachments are added to the specified set, if it exists.",
                                        "type": "string"
                                    },
                                    "attachments": {
                                        "description": "One or more attachments to add to the set. The limit is 3 attachments per set, and the size limit is 5 MB per attachment.",
                                        "items": {
                                            "description": "An attachment to a case communication. The attachment consists of the file name and the content of the file.",
                                            "properties": {
                                                "data": {
                                                    "description": "The content of the attachment file.",
                                                    "type": "string"
                                                },
                                                "fileName": {
                                                    "description": "The name of the attachment file.",
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "type": "array"
                                    }
                                },
                                "required": [
                                    "attachments"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#AddCommunicationToCase": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "<p>Adds additional customer communication to an AWS Support case. You use the <code>caseId</code> value to identify the case to add communication to. You can list a set of email addresses to copy on the communication using the <code>ccEmailAddresses</code> value. The <code>communicationBody</code> value contains the text of the communication.</p> <p>The response indicates the success or failure of the request.</p> <p>This operation implements a subset of the features of the AWS Support Center.</p>",
                "operationId": "AddCommunicationToCase",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "The result of the <a>AddCommunicationToCase</a> operation.",
                                    "properties": {
                                        "result": {
                                            "description": "True if <a>AddCommunicationToCase</a> succeeds. Otherwise, returns an error.",
                                            "type": "boolean"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "InternalServerError",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "An internal server error occurred.",
                                    "properties": {
                                        "message": {
                                            "description": "An internal server error occurred.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "481": {
                        "description": "CaseIdNotFound",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "The requested <code>caseId</code> could not be located.",
                                    "properties": {
                                        "message": {
                                            "description": "The requested <code>CaseId</code> could not be located.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "482": {
                        "description": "AttachmentSetIdNotFound",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "An attachment set with the specified ID could not be found.",
                                    "properties": {
                                        "message": {
                                            "description": "An attachment set with the specified ID could not be found.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "483": {
                        "description": "AttachmentSetExpired",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "The expiration time of the attachment set has passed. The set expires 1 hour after it is created.",
                                    "properties": {
                                        "message": {
                                            "description": "The expiration time of the attachment set has passed. The set expires 1 hour after it is created.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "To be written.",
                                "properties": {
                                    "attachmentSetId": {
                                        "description": "The ID of a set of one or more attachments for the communication to add to the case. Create the set by calling <a>AddAttachmentsToSet</a> ",
                                        "type": "string"
                                    },
                                    "caseId": {
                                        "description": "The AWS Support case ID requested or returned in the call. The case ID is an alphanumeric string formatted as shown in this example: case-<i>12345678910-2013-c4c1d2bf33c5cf47</i> ",
                                        "type": "string"
                                    },
                                    "ccEmailAddresses": {
                                        "description": "The email addresses in the CC line of an email to be added to the support case.",
                                        "items": {
                                            "type": "string"
                                        },
                                        "maxItems": 10,
                                        "minItems": 0,
                                        "type": "array"
                                    },
                                    "communicationBody": {
                                        "description": "The body of an email communication to add to the support case.",
                                        "maxLength": 8000,
                                        "minLength": 1,
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "communicationBody"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#CreateCase": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "<p>Creates a new case in the AWS Support Center. This operation is modeled on the behavior of the AWS Support Center <a href=\"https://console.aws.amazon.com/support/home#/case/create\">Create Case</a> page. Its parameters require you to specify the following information: </p> <ul> <li> <p> <b>issueType.</b> The type of issue for the case. You can specify either \"customer-service\" or \"technical.\" If you do not indicate a value, the default is \"technical.\" </p> </li> <li> <p> <b>serviceCode.</b> The code for an AWS service. You obtain the <code>serviceCode</code> by calling <a>DescribeServices</a>. </p> </li> <li> <p> <b>categoryCode.</b> The category for the service defined for the <code>serviceCode</code> value. You also obtain the category code for a service by calling <a>DescribeServices</a>. Each AWS service defines its own set of category codes. </p> </li> <li> <p> <b>severityCode.</b> A value that indicates the urgency of the case, which in turn determines the response time according to your service level agreement with AWS Support. You obtain the SeverityCode by calling <a>DescribeSeverityLevels</a>.</p> </li> <li> <p> <b>subject.</b> The <b>Subject</b> field on the AWS Support Center <a href=\"https://console.aws.amazon.com/support/home#/case/create\">Create Case</a> page.</p> </li> <li> <p> <b>communicationBody.</b> The <b>Description</b> field on the AWS Support Center <a href=\"https://console.aws.amazon.com/support/home#/case/create\">Create Case</a> page.</p> </li> <li> <p> <b>attachmentSetId.</b> The ID of a set of attachments that has been created by using <a>AddAttachmentsToSet</a>.</p> </li> <li> <p> <b>language.</b> The human language in which AWS Support handles the case. English and Japanese are currently supported.</p> </li> <li> <p> <b>ccEmailAddresses.</b> The AWS Support Center <b>CC</b> field on the <a href=\"https://console.aws.amazon.com/support/home#/case/create\">Create Case</a> page. You can list email addresses to be copied on any correspondence about the case. The account that opens the case is already identified by passing the AWS Credentials in the HTTP POST method or in a method or function call from one of the programming languages supported by an <a href=\"http://aws.amazon.com/tools/\">AWS SDK</a>. </p> </li> </ul> <note> <p>To add additional communication or attachments to an existing case, use <a>AddCommunicationToCase</a>.</p> </note> <p>A successful <a>CreateCase</a> request returns an AWS Support case number. Case numbers are used by the <a>DescribeCases</a> operation to retrieve existing AWS Support cases. </p>",
                "operationId": "CreateCase",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "The AWS Support case ID returned by a successful completion of the <a>CreateCase</a> operation. ",
                                    "properties": {
                                        "caseId": {
                                            "description": "The AWS Support case ID requested or returned in the call. The case ID is an alphanumeric string formatted as shown in this example: case-<i>12345678910-2013-c4c1d2bf33c5cf47</i> ",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "InternalServerError",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "An internal server error occurred.",
                                    "properties": {
                                        "message": {
                                            "description": "An internal server error occurred.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "481": {
                        "description": "CaseCreationLimitExceeded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "The case creation limit for the account has been exceeded.",
                                    "properties": {
                                        "message": {
                                            "description": "An error message that indicates that you have exceeded the number of cases you can have open.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "482": {
                        "description": "AttachmentSetIdNotFound",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "An attachment set with the specified ID could not be found.",
                                    "properties": {
                                        "message": {
                                            "description": "An attachment set with the specified ID could not be found.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "483": {
                        "description": "AttachmentSetExpired",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "The expiration time of the attachment set has passed. The set expires 1 hour after it is created.",
                                    "properties": {
                                        "message": {
                                            "description": "The expiration time of the attachment set has passed. The set expires 1 hour after it is created.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "<p/>",
                                "properties": {
                                    "attachmentSetId": {
                                        "description": "The ID of a set of one or more attachments for the case. Create the set by using <a>AddAttachmentsToSet</a>.",
                                        "type": "string"
                                    },
                                    "categoryCode": {
                                        "description": "The category of problem for the AWS Support case.",
                                        "type": "string"
                                    },
                                    "ccEmailAddresses": {
                                        "description": "A list of email addresses that AWS Support copies on case correspondence.",
                                        "items": {
                                            "type": "string"
                                        },
                                        "maxItems": 10,
                                        "minItems": 0,
                                        "type": "array"
                                    },
                                    "communicationBody": {
                                        "description": "The communication body text when you create an AWS Support case by calling <a>CreateCase</a>.",
                                        "maxLength": 8000,
                                        "minLength": 1,
                                        "type": "string"
                                    },
                                    "issueType": {
                                        "description": "The type of issue for the case. You can specify either \"customer-service\" or \"technical.\" If you do not indicate a value, the default is \"technical.\"",
                                        "type": "string"
                                    },
                                    "language": {
                                        "description": "The ISO 639-1 code for the language in which AWS provides support. AWS Support currently supports English (\"en\") and Japanese (\"ja\"). Language parameters must be passed explicitly for operations that take them.",
                                        "type": "string"
                                    },
                                    "serviceCode": {
                                        "description": "The code for the AWS service returned by the call to <a>DescribeServices</a>.",
                                        "type": "string"
                                    },
                                    "severityCode": {
                                        "description": "<p>The code for the severity level returned by the call to <a>DescribeSeverityLevels</a>.</p> <note> <p>The availability of severity levels depends on each customer's support subscription. In other words, your subscription may not necessarily require the urgent level of response time.</p> </note>",
                                        "type": "string"
                                    },
                                    "subject": {
                                        "description": "The title of the AWS Support case.",
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "subject",
                                    "communicationBody"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#DescribeAttachment": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Returns the attachment that has the specified ID. Attachment IDs are generated by the case management system when you add an attachment to a case or case communication. Attachment IDs are returned in the <a>AttachmentDetails</a> objects that are returned by the <a>DescribeCommunications</a> operation.",
                "operationId": "DescribeAttachment",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "The content and file name of the attachment returned by the <a>DescribeAttachment</a> operation.",
                                    "properties": {
                                        "attachment": {
                                            "description": "The attachment content and file name.",
                                            "properties": {
                                                "data": {
                                                    "description": "The content of the attachment file.",
                                                    "type": "string"
                                                },
                                                "fileName": {
                                                    "description": "The name of the attachment file.",
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "InternalServerError",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "An internal server error occurred.",
                                    "properties": {
                                        "message": {
                                            "description": "An internal server error occurred.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "481": {
                        "description": "DescribeAttachmentLimitExceeded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "The limit for the number of <a>DescribeAttachment</a> requests in a short period of time has been exceeded.",
                                    "properties": {
                                        "message": {
                                            "description": "The limit for the number of <a>DescribeAttachment</a> requests in a short period of time has been exceeded.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "482": {
                        "description": "AttachmentIdNotFound",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "An attachment with the specified ID could not be found.",
                                    "properties": {
                                        "message": {
                                            "description": "An attachment with the specified ID could not be found.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "attachmentId": {
                                        "description": "The ID of the attachment to return. Attachment IDs are returned by the <a>DescribeCommunications</a> operation.",
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "attachmentId"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#DescribeCases": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "<p>Returns a list of cases that you specify by passing one or more case IDs. In addition, you can filter the cases by date by setting values for the <code>afterTime</code> and <code>beforeTime</code> request parameters. You can set values for the <code>includeResolvedCases</code> and <code>includeCommunications</code> request parameters to control how much information is returned. </p> <p>Case data is available for 12 months after creation. If a case was created more than 12 months ago, a request for data might cause an error.</p> <p>The response returns the following in JSON format:</p> <ul> <li> <p>One or more <a>CaseDetails</a> data types. </p> </li> <li> <p>One or more <code>nextToken</code> values, which specify where to paginate the returned records represented by the <code>CaseDetails</code> objects.</p> </li> </ul>",
                "operationId": "DescribeCases",
                "parameters": [
                    {
                        "description": "Pagination limit",
                        "in": "query",
                        "name": "maxResults",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Pagination token",
                        "in": "query",
                        "name": "nextToken",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Returns an array of <a>CaseDetails</a> objects and a <code>nextToken</code> that defines a point for pagination in the result set.",
                                    "properties": {
                                        "cases": {
                                            "description": "The details for the cases that match the request.",
                                            "items": {
                                                "description": "<p>A JSON-formatted object that contains the metadata for a support case. It is contained the response from a <a>DescribeCases</a> request. <b>CaseDetails</b> contains the following fields:</p> <ul> <li> <p> <b>caseId.</b> The AWS Support case ID requested or returned in the call. The case ID is an alphanumeric string formatted as shown in this example: case-<i>12345678910-2013-c4c1d2bf33c5cf47</i>.</p> </li> <li> <p> <b>categoryCode.</b> The category of problem for the AWS Support case. Corresponds to the CategoryCode values returned by a call to <a>DescribeServices</a>.</p> </li> <li> <p> <b>displayId.</b> The identifier for the case on pages in the AWS Support Center.</p> </li> <li> <p> <b>language.</b> The ISO 639-1 code for the language in which AWS provides support. AWS Support currently supports English (\"en\") and Japanese (\"ja\"). Language parameters must be passed explicitly for operations that take them.</p> </li> <li> <p> <b>recentCommunications.</b> One or more <a>Communication</a> objects. Fields of these objects are <code>attachments</code>, <code>body</code>, <code>caseId</code>, <code>submittedBy</code>, and <code>timeCreated</code>.</p> </li> <li> <p> <b>nextToken.</b> A resumption point for pagination.</p> </li> <li> <p> <b>serviceCode.</b> The identifier for the AWS service that corresponds to the service code defined in the call to <a>DescribeServices</a>.</p> </li> <li> <p> <b>severityCode. </b>The severity code assigned to the case. Contains one of the values returned by the call to <a>DescribeSeverityLevels</a>.</p> </li> <li> <p> <b>status.</b> The status of the case in the AWS Support Center.</p> </li> <li> <p> <b>subject.</b> The subject line of the case.</p> </li> <li> <p> <b>submittedBy.</b> The email address of the account that submitted the case.</p> </li> <li> <p> <b>timeCreated.</b> The time the case was created, in ISO-8601 format.</p> </li> </ul>",
                                                "properties": {
                                                    "caseId": {
                                                        "description": "The AWS Support case ID requested or returned in the call. The case ID is an alphanumeric string formatted as shown in this example: case-<i>12345678910-2013-c4c1d2bf33c5cf47</i> ",
                                                        "type": "string"
                                                    },
                                                    "categoryCode": {
                                                        "description": "The category of problem for the AWS Support case.",
                                                        "type": "string"
                                                    },
                                                    "ccEmailAddresses": {
                                                        "description": "The email addresses that receive copies of communication about the case.",
                                                        "items": {
                                                            "type": "string"
                                                        },
                                                        "maxItems": 10,
                                                        "minItems": 0,
                                                        "type": "array"
                                                    },
                                                    "displayId": {
                                                        "description": "The ID displayed for the case in the AWS Support Center. This is a numeric string.",
                                                        "type": "string"
                                                    },
                                                    "language": {
                                                        "description": "The ISO 639-1 code for the language in which AWS provides support. AWS Support currently supports English (\"en\") and Japanese (\"ja\"). Language parameters must be passed explicitly for operations that take them.",
                                                        "type": "string"
                                                    },
                                                    "recentCommunications": {
                                                        "description": "The five most recent communications between you and AWS Support Center, including the IDs of any attachments to the communications. Also includes a <code>nextToken</code> that you can use to retrieve earlier communications.",
                                                        "properties": {
                                                            "communications": {
                                                                "description": "The five most recent communications associated with the case.",
                                                                "items": {
                                                                    "description": "A communication associated with an AWS Support case. The communication consists of the case ID, the message body, attachment information, the account email address, and the date and time of the communication.",
                                                                    "properties": {
                                                                        "attachmentSet": {
                                                                            "description": "Information about the attachments to the case communication.",
                                                                            "items": {
                                                                                "description": "The file name and ID of an attachment to a case communication. You can use the ID to retrieve the attachment with the <a>DescribeAttachment</a> operation.",
                                                                                "properties": {
                                                                                    "attachmentId": {
                                                                                        "description": "The ID of the attachment.",
                                                                                        "type": "string"
                                                                                    },
                                                                                    "fileName": {
                                                                                        "description": "The file name of the attachment.",
                                                                                        "type": "string"
                                                                                    }
                                                                                },
                                                                                "type": "object"
                                                                            },
                                                                            "type": "array"
                                                                        },
                                                                        "body": {
                                                                            "description": "The text of the communication between the customer and AWS Support.",
                                                                            "maxLength": 8000,
                                                                            "minLength": 1,
                                                                            "type": "string"
                                                                        },
                                                                        "caseId": {
                                                                            "description": "The AWS Support case ID requested or returned in the call. The case ID is an alphanumeric string formatted as shown in this example: case-<i>12345678910-2013-c4c1d2bf33c5cf47</i> ",
                                                                            "type": "string"
                                                                        },
                                                                        "submittedBy": {
                                                                            "description": "The email address of the account that submitted the AWS Support case.",
                                                                            "type": "string"
                                                                        },
                                                                        "timeCreated": {
                                                                            "description": "The time the communication was created.",
                                                                            "type": "string"
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                },
                                                                "type": "array"
                                                            },
                                                            "nextToken": {
                                                                "description": "A resumption point for pagination.",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "serviceCode": {
                                                        "description": "The code for the AWS service returned by the call to <a>DescribeServices</a>.",
                                                        "type": "string"
                                                    },
                                                    "severityCode": {
                                                        "description": "The code for the severity level returned by the call to <a>DescribeSeverityLevels</a>.",
                                                        "type": "string"
                                                    },
                                                    "status": {
                                                        "description": "The status of the case.",
                                                        "type": "string"
                                                    },
                                                    "subject": {
                                                        "description": "The subject line for the case in the AWS Support Center.",
                                                        "type": "string"
                                                    },
                                                    "submittedBy": {
                                                        "description": "The email address of the account that submitted the case.",
                                                        "type": "string"
                                                    },
                                                    "timeCreated": {
                                                        "description": "The time that the case was case created in the AWS Support Center.",
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "nextToken": {
                                            "description": "A resumption point for pagination.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "InternalServerError",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "An internal server error occurred.",
                                    "properties": {
                                        "message": {
                                            "description": "An internal server error occurred.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "481": {
                        "description": "CaseIdNotFound",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "The requested <code>caseId</code> could not be located.",
                                    "properties": {
                                        "message": {
                                            "description": "The requested <code>CaseId</code> could not be located.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "<p/>",
                                "properties": {
                                    "afterTime": {
                                        "description": "The start date for a filtered date search on support case communications. Case communications are available for 12 months after creation.",
                                        "type": "string"
                                    },
                                    "beforeTime": {
                                        "description": "The end date for a filtered date search on support case communications. Case communications are available for 12 months after creation.",
                                        "type": "string"
                                    },
                                    "caseIdList": {
                                        "description": "A list of ID numbers of the support cases you want returned. The maximum number of cases is 100.",
                                        "items": {
                                            "type": "string"
                                        },
                                        "maxItems": 100,
                                        "minItems": 0,
                                        "type": "array"
                                    },
                                    "displayId": {
                                        "description": "The ID displayed for a case in the AWS Support Center user interface.",
                                        "type": "string"
                                    },
                                    "includeCommunications": {
                                        "description": "Specifies whether communications should be included in the <a>DescribeCases</a> results. The default is <i>true</i>.",
                                        "type": "boolean"
                                    },
                                    "includeResolvedCases": {
                                        "description": "Specifies whether resolved support cases should be included in the <a>DescribeCases</a> results. The default is <i>false</i>.",
                                        "type": "boolean"
                                    },
                                    "language": {
                                        "description": "The ISO 639-1 code for the language in which AWS provides support. AWS Support currently supports English (\"en\") and Japanese (\"ja\"). Language parameters must be passed explicitly for operations that take them.",
                                        "type": "string"
                                    },
                                    "maxResults": {
                                        "description": "The maximum number of results to return before paginating.",
                                        "maximum": 100,
                                        "minimum": 10,
                                        "type": "integer"
                                    },
                                    "nextToken": {
                                        "description": "A resumption point for pagination.",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#DescribeCommunications": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "<p>Returns communications (and attachments) for one or more support cases. You can use the <code>afterTime</code> and <code>beforeTime</code> parameters to filter by date. You can use the <code>caseId</code> parameter to restrict the results to a particular case.</p> <p>Case data is available for 12 months after creation. If a case was created more than 12 months ago, a request for data might cause an error.</p> <p>You can use the <code>maxResults</code> and <code>nextToken</code> parameters to control the pagination of the result set. Set <code>maxResults</code> to the number of cases you want displayed on each page, and use <code>nextToken</code> to specify the resumption of pagination.</p>",
                "operationId": "DescribeCommunications",
                "parameters": [
                    {
                        "description": "Pagination limit",
                        "in": "query",
                        "name": "maxResults",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Pagination token",
                        "in": "query",
                        "name": "nextToken",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "The communications returned by the <a>DescribeCommunications</a> operation.",
                                    "properties": {
                                        "communications": {
                                            "description": "The communications for the case.",
                                            "items": {
                                                "description": "A communication associated with an AWS Support case. The communication consists of the case ID, the message body, attachment information, the account email address, and the date and time of the communication.",
                                                "properties": {
                                                    "attachmentSet": {
                                                        "description": "Information about the attachments to the case communication.",
                                                        "items": {
                                                            "description": "The file name and ID of an attachment to a case communication. You can use the ID to retrieve the attachment with the <a>DescribeAttachment</a> operation.",
                                                            "properties": {
                                                                "attachmentId": {
                                                                    "description": "The ID of the attachment.",
                                                                    "type": "string"
                                                                },
                                                                "fileName": {
                                                                    "description": "The file name of the attachment.",
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "type": "array"
                                                    },
                                                    "body": {
                                                        "description": "The text of the communication between the customer and AWS Support.",
                                                        "maxLength": 8000,
                                                        "minLength": 1,
                                                        "type": "string"
                                                    },
                                                    "caseId": {
                                                        "description": "The AWS Support case ID requested or returned in the call. The case ID is an alphanumeric string formatted as shown in this example: case-<i>12345678910-2013-c4c1d2bf33c5cf47</i> ",
                                                        "type": "string"
                                                    },
                                                    "submittedBy": {
                                                        "description": "The email address of the account that submitted the AWS Support case.",
                                                        "type": "string"
                                                    },
                                                    "timeCreated": {
                                                        "description": "The time the communication was created.",
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "nextToken": {
                                            "description": "A resumption point for pagination.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "InternalServerError",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "An internal server error occurred.",
                                    "properties": {
                                        "message": {
                                            "description": "An internal server error occurred.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "481": {
                        "description": "CaseIdNotFound",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "The requested <code>caseId</code> could not be located.",
                                    "properties": {
                                        "message": {
                                            "description": "The requested <code>CaseId</code> could not be located.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "<p/>",
                                "properties": {
                                    "afterTime": {
                                        "description": "The start date for a filtered date search on support case communications. Case communications are available for 12 months after creation.",
                                        "type": "string"
                                    },
                                    "beforeTime": {
                                        "description": "The end date for a filtered date search on support case communications. Case communications are available for 12 months after creation.",
                                        "type": "string"
                                    },
                                    "caseId": {
                                        "description": "The AWS Support case ID requested or returned in the call. The case ID is an alphanumeric string formatted as shown in this example: case-<i>12345678910-2013-c4c1d2bf33c5cf47</i> ",
                                        "type": "string"
                                    },
                                    "maxResults": {
                                        "description": "The maximum number of results to return before paginating.",
                                        "maximum": 100,
                                        "minimum": 10,
                                        "type": "integer"
                                    },
                                    "nextToken": {
                                        "description": "A resumption point for pagination.",
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "caseId"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#DescribeServices": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "<p>Returns the current list of AWS services and a list of service categories that applies to each one. You then use service names and categories in your <a>CreateCase</a> requests. Each AWS service has its own set of categories.</p> <p>The service codes and category codes correspond to the values that are displayed in the <b>Service</b> and <b>Category</b> drop-down lists on the AWS Support Center <a href=\"https://console.aws.amazon.com/support/home#/case/create\">Create Case</a> page. The values in those fields, however, do not necessarily match the service codes and categories returned by the <code>DescribeServices</code> request. Always use the service codes and categories obtained programmatically. This practice ensures that you always have the most recent set of service and category codes.</p>",
                "operationId": "DescribeServices",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "The list of AWS services returned by the <a>DescribeServices</a> operation.",
                                    "properties": {
                                        "services": {
                                            "description": "A JSON-formatted list of AWS services.",
                                            "items": {
                                                "description": "Information about an AWS service returned by the <a>DescribeServices</a> operation. ",
                                                "properties": {
                                                    "categories": {
                                                        "description": "A list of categories that describe the type of support issue a case describes. Categories consist of a category name and a category code. Category names and codes are passed to AWS Support when you call <a>CreateCase</a>.",
                                                        "items": {
                                                            "description": "A JSON-formatted name/value pair that represents the category name and category code of the problem, selected from the <a>DescribeServices</a> response for each AWS service.",
                                                            "properties": {
                                                                "code": {
                                                                    "description": "The category code for the support case.",
                                                                    "type": "string"
                                                                },
                                                                "name": {
                                                                    "description": "The category name for the support case.",
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "type": "array"
                                                    },
                                                    "code": {
                                                        "description": "The code for an AWS service returned by the <a>DescribeServices</a> response. The <code>name</code> element contains the corresponding friendly name.",
                                                        "type": "string"
                                                    },
                                                    "name": {
                                                        "description": "The friendly name for an AWS service. The <code>code</code> element contains the corresponding code.",
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "InternalServerError",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "An internal server error occurred.",
                                    "properties": {
                                        "message": {
                                            "description": "An internal server error occurred.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "<p/>",
                                "properties": {
                                    "language": {
                                        "description": "The ISO 639-1 code for the language in which AWS provides support. AWS Support currently supports English (\"en\") and Japanese (\"ja\"). Language parameters must be passed explicitly for operations that take them.",
                                        "type": "string"
                                    },
                                    "serviceCodeList": {
                                        "description": "A JSON-formatted list of service codes available for AWS services.",
                                        "items": {
                                            "type": "string"
                                        },
                                        "maxItems": 100,
                                        "minItems": 0,
                                        "type": "array"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#DescribeSeverityLevels": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Returns the list of severity levels that you can assign to an AWS Support case. The severity level for a case is also a field in the <a>CaseDetails</a> data type included in any <a>CreateCase</a> request. ",
                "operationId": "DescribeSeverityLevels",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "The list of severity levels returned by the <a>DescribeSeverityLevels</a> operation.",
                                    "properties": {
                                        "severityLevels": {
                                            "description": "The available severity levels for the support case. Available severity levels are defined by your service level agreement with AWS.",
                                            "items": {
                                                "description": "A code and name pair that represent a severity level that can be applied to a support case.",
                                                "properties": {
                                                    "code": {
                                                        "description": "One of four values: \"low,\" \"medium,\" \"high,\" and \"urgent\". These values correspond to response times returned to the caller in <code>severityLevel.name</code>. ",
                                                        "type": "string"
                                                    },
                                                    "name": {
                                                        "description": "The name of the severity level that corresponds to the severity level code.",
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "InternalServerError",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "An internal server error occurred.",
                                    "properties": {
                                        "message": {
                                            "description": "An internal server error occurred.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "<p/>",
                                "properties": {
                                    "language": {
                                        "description": "The ISO 639-1 code for the language in which AWS provides support. AWS Support currently supports English (\"en\") and Japanese (\"ja\"). Language parameters must be passed explicitly for operations that take them.",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#DescribeTrustedAdvisorCheckRefreshStatuses": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
[...]
